* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: rgb(93, 164, 182);
}

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid rgb(53, 212, 39);
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 8px;
}

/* Style the navigation menu */

#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 1 10%;
    border: red;
    width: 400px;
    border: 1px solid rgb(53, 212, 39);
    border-radius: 8px;
}

/* Style the navigation links */

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
    margin: 2 10%;
    border-radius: 8px;
}

#myMenu li a:hover {
    background-color: greenyellow;
    border-radius: 8px;
}