.html {
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
}
.row div{
    align-self: center;
    padding: 10px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    float: left;
    font-family: inherit;
}
.row {
    clear: both;
}
